<div class="row">
  <div class="meetup-info col-sm-7">
    <div class="meetup-header">
      <h3><%= @meetup.name %></h3>

      <% if signed_in? %>
        <div class="btn-group">
          <button type="button" class="attending btn btn-default <%= 'active' if attending?%>">Attending</button>
          <button type="button" class="not-attending btn btn-default <%= 'active' if !attending? %>">Not Attending</button>
        </div>
      <% end %>
    </div>

    <form action="/meetup/update" method="post" class="form-horizontal" role="form">

      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Meetup name</label>
        <div class="col-sm-9">
          <p class="form-control-static editable"><%= @meetup.name %></p>
          <input name="name" type="text" class="form-control hidden" id="name" value="<%= @meetup.name %>">
        </div>
      </div>

      <div class="form-group">
        <label for="date" class="col-sm-3 control-label">Date</label>
        <div class="col-sm-9">
          <p class="form-control-static editable">></p>
          <div class='input-group date hidden' id='meetup-date' data-date-format="DD/MM/YYYY, H:mm" data-value="<%= @meetup.date unless @meetup.date.nil? %>">
              <input type='text' name="date" class="form-control" value="<%= @meetup.date unless @meetup.date.nil? %>"/>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
      </div>      

      <div class="form-group">
        <label for="location" class="col-sm-3 control-label">Location</label>
        <div class="col-sm-9">
          <p class="form-control-static editable"><a href="/meetups/at/<%= @meetup.city %>" data-id="<%= @meetup.city %>" class="city-id-to-name"><%= @meetup.city %></a></p>
          <input name="city" type="text" class="form-control hidden" id="location" value="<%= @meetup.city unless @meetup.city.nil? %>">
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <p class="form-control-static editable"><%= @meetup.description unless @meetup.description.nil? %></p>
          <textarea name="description" type="text" class="form-control hidden" id="description"><%= @meetup.description unless @meetup.description.nil? %></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="location" class="col-sm-3 control-label">Created By</label>
        <div class="col-sm-9">
          <% user = User.find(@meetup.creator) unless @meetup.creator.nil? %>
          <div class="list-group-item user_card">
            <span class="">
              <div class="profile-picture-wrapper" data-user-id="<%= user._id.to_s %>"></div>
            </span>
            <h6 class="user-name"><%= user.firstname + " " + user.lastname %></h6>
          </div>
          <input name="city" type="text" class="form-control hidden" id="location" value="<%= @meetup.city unless @meetup.city.nil? %>">
        </div>
      </div>

      <div class="form-group">
        <label for="attending" class="col-sm-3 control-label">Attending</label>
        <div class="col-sm-9">
          <div class="form-control-static">
          <% @meetup.users.each do |user| %>
            <div class="list-group-item user_card">
              <span class="">
                <div class="profile-picture-wrapper" data-user-id="<%= user._id.to_s %>"></div>
              </span>
              <h6 class="user-name"><%= user.firstname + " " + user.lastname %></h6>
            </div>
          <% end %>
          </div>
        </div>
      </div>

      <input type="text" name="books" class="hidden" value="<%= @book.isbn %>">
      <input type="text" name="user_id" class="hidden" value="<%= current_user._id if signed_in? %>">
      <input type="text" name="id" class="hidden" value="<%= @meetup._id %>">

      <div class="form-group edit-buttons hidden">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="submit" class="btn btn-default">Save</button>
          <div class="btn btn-default cancel-edit">Cancel</div>
        </div>
      </div>

    </form>
    <% if signed_in? && @meetup.creator.to_s == current_user._id.to_s %>
      <div class="help-block"><div class="edit-meetup btn btn-default"><span class="glyphicon glyphicon-edit"></span> edit</div></div>
    <% end %>

  </div>
  <% if signed_in? && @meetup.creator.to_s == current_user._id.to_s || !@meetup.venue.nil? %>
  <div class="col-sm-5 proposed-venue <%= (@meetup.venue.nil? || @meetup.venue.name == "") ? 'hidden' : '' %>">
    <div class="">
      <h4>Proposed Venue</h4>
      <form action="/meetup/update" method="post" class="form-horizontal" role="form">

            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Venue name</label>
              <div class="col-sm-9">
                <p class="form-control-static editable"><%= @meetup.venue.name unless @meetup.venue.nil? %></p>
                <input name="name" type="text" class="form-control hidden" id="venue-name" value="<%= @meetup.venue.name unless @meetup.venue.nil? %>">
              </div>
            </div>
            
            <% unless @meetup.venue.nil? || @meetup.venue.address == ""  %>
              <img class="proposed-map" src="http://maps.googleapis.com/maps/api/staticmap?markers=color:blue%7Clabel:%7C<%= URI::encode @meetup.venue.address %>&zoom=15&size=330x330&maptype=roadmap&sensor=false&key=AIzaSyDs_k1wyceiD8D6l1ysl2dI-KVjFsr0ONk">
            <% end %>
            <div class="form-group">
              <label for="address" class="col-sm-3 control-label">Address</label>
              <div class="col-sm-9">
                  <p class="form-control-static editable"><%= @meetup.venue.address unless @meetup.venue.nil? %></p>
                  <input name="address" type="text" class="form-control hidden" id="address" value="<%= @meetup.venue.address unless @meetup.venue.nil? %>">
              </div>
            </div>

            <div class="form-group">
              <label for="notes" class="col-sm-3 control-label">Notes</label>
              <div class="col-sm-9">
                <p class="form-control-static editable"><%= @meetup.venue.notes unless @meetup.venue.nil? %></p>
                <textarea name="notes" type="text" class="form-control hidden" id="notes"><%= @meetup.venue.notes unless @meetup.venue.nil? %></textarea>
              </div>
            </div>
          </form>
    </div>
  </div>
  <% end %>
</div>