<div id="wrapper" class="container-fluid">
  <%  %>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li>
      <% #session[:url_cities].each do |city| %>
        <a href="#"><%= @meetup.city %></a>
      <% #end %>
    </li>
    <li class="active"><a href="/meetups/at/<%= @meetup.city %>/for/<%= @book.isbn+'/'+@book.get_url_title %>"><%= @book.title %></a></li>
    <li class="active"><%= @meetup.name %></li>
  </ol>
  <% %>
  <div class="row">
    <div class="book-description hidden-xs col-md-3 col-sm-12">
      <div clas="row">
        <div class="cover-wrapper col-md-12">
          <img class="book-cover" src="<%= @book.images[:large] %>">
        </div>
        <dl class="book-details col-sm-6 col-md-12">
          <dt>Title</dt>
          <dd><%= @book.full_title %></dd>
          <dt>Author</dt>
          <dd><%= @book.author %></dd>
          <dt>Published</dt>
          <dd><%= @book.published_at %></dd>
          <dt>Category</dt>
          <dd>Science Fiction</dd>
          <dt>ISBN13</dt>
          <dd id="isbn"><%= @book.isbn %></dd>
        </dl>
        <span class="clearfix" />
      </div>
    </div>
        

    <div id="middle" class="col-sm-12 col-md-9">
      <%= partial '/meetups/meetup_info' %>
      <%= partial '/books/interest_categories', locals: { :description => 'What the attendants are interested in' } %>
      
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'novelmates'; // required: replace example with your forum shortname
          var urlArray = document.URL.split(/\/+/);
          var disqus_identifier = urlArray[$.inArray( 'meetup', urlArray ) + 1];
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      
    </div>
  </div>
  <span class="clearfix" />
</div>