<div id="wrapper" class="effect7 container-fluid">
  <%  %>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li>
      <% #session[:url_cities].each do |city| %>
        <a href="#" class="city-id-to-name" data-id="<%= @meetup.city %>"><%= @meetup.city %></a>
      <% #end %>
    </li>
    <li class="active"><a href="/meetups/at/<%= @meetup.city %>/for/<%= @book.isbn+'/'+@book.get_url_title %>"><%= @book.title %></a></li>
    <li class="active"><%= @meetup.name %></li>
  </ol>
  <% %>
  <div class="row">
    <div class="book-description hidden-xs col-md-3 col-sm-12">
      <div class="book-description-back"></div>
      <div class="col-sm-7 col-md-12">
        <div class="cover-wrapper col-md-12">
          <img class="book-cover" src="<%= @book.images[:large] %>">
        </div>
        <div class="book-details col-md-12">
          <div class="row">
            <div class="detail col-xs-4">Title</div>
            <div class="value col-xs-8"><%= @book.full_title %></div>
          </div>
          <div class="row">
            <div class="detail col-xs-4">Author</div>
            <div class="value col-xs-8"><%= @book.author %></div>
          </div>
          <div class="row">
            <div class="detail col-xs-4">Published</div>
            <div class="value col-xs-8"><%= @book.published_at %></div>
          </div>
          <div class="row">
            <div class="detail col-xs-4">Category</div>
            <div class="value col-xs-8">Science Fiction</div>
          </div>
          <div class="row">
            <div class="detail col-xs-4">ISBN13</div>
            <div class="value col-xs-8" id="isbn"><%= @book.isbn %></div>
          </div>
        </div>
        <span class="clearfix" />
      </div>
    </div>
        

    <div id="middle" class="col-sm-12 col-md-9">
      <%= partial '/meetups/meetup_info', object: @interests %>
      <%= partial '/books/interest_categories', object: @interests, locals: { :description => 'What the attendants are interested in' } %>
      <div id="posts">
        <div style="height:50px;background:inherit;" class="box">
          <div class="loader10"></div>
        </div>
      </div>
      <script type="text/javascript" class="juvia">
      (function() {
          var urlArray = document.URL.split(/\/+/);
          var topic_identifier = urlArray[$.inArray( 'meetup', urlArray ) + 1];
          var options = {
              author_id    : '<%= current_user._id if attending? %>',
              author_name  : "<%= (current_user.firstname+' '+current_user.lastname) if attending? %>",
              container    : '#posts',
              site_key     : 'oqy5ycn91ld66432ekxha7u5h10mi8o',
              topic_key    : topic_identifier,
              topic_url    : location.href,
              topic_title  : document.title || location.href,
              include_base : !window.Juvia,
              include_css  : !window.Juvia,
              comment_order: 'latest-first'
          };

          function makeQueryString(options) {
              var key, params = [];
              for (key in options) {
                  params.push(
                      encodeURIComponent(key) +
                      '=' +
                      encodeURIComponent(options[key]));
              }
              return params.join('&');
          }

          function makeApiUrl(options) {
              // Makes sure that each call generates a unique URL, otherwise
              // the browser may not actually perform the request.
              if (!('_juviaRequestCounter' in window)) {
                  window._juviaRequestCounter = 0;
              }

              var result =
                  'http://disnovel.herokuapp.com/api/show_topic.js' +
                  '?_c=' + window._juviaRequestCounter +
                  '&' + makeQueryString(options);
              window._juviaRequestCounter++;
              return result;
          }

          var s       = document.createElement('script');
          s.async     = true;
          s.type      = 'text/javascript';
          s.className = 'juvia';
          s.src       = makeApiUrl(options);
          (document.getElementsByTagName('head')[0] ||
           document.getElementsByTagName('body')[0]).appendChild(s);
      })();
      </script>

      
    </div>
  </div>
  <span class="clearfix" />
</div>