<div class="panel panel-default">
  <div class="panel-heading"><h4>Meetups</h4>
  </div>

  <div class="list-group">
    <% session[:url_cities].each do |city| %>
      <% @meetups2 = Meetup.where({city: city, books: locals[:book].isbn }).all.entries %>
      <div class="list-group-item meetup_city" data-toggle="collapse" data-target="#<%= city+locals[:book].isbn %>" >
        <span data-id="<%= city %>" class="city-id-to-name"></span>
      </a>  
        <span class="badge"><%= @meetups2.count %></span>
      </div>

      <div id="<%= city+locals[:book].isbn %>" class="meetup-details collapse list-group">

        <% @meetups2.each do |meetup| %>
          <div class="list-group-item">
          <a href="/meetup/<%= meetup._id %>/for/<%= meetup.books %>"><h5><%= meetup.name %></h5></a>
            <span class="pull-right people">
              <% meetup.user_ids.each do |id| %>
                <div class="profile-picture-wrapper" data-user-id="<%= id.to_s %>"></div>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
  <% if signed_in? %>
    <button type="button" class="new-meetup-btn btn btn-primary btn-lg btn-block">Add new meetup</button>
  <% end %>
  <%= partial '/books/create_meetup', locals: locals %>
</div>

<!-- <table class="table table-hover table-bordered">
  <thead>
    <tr class="success">
      <th>#</th>
      <th>Name</th>
      <th>Date</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">London</td>
      <td>Author discussion</td>
      <td>05.02.2014</td>
      <td>@mdo, @bla, @do</td>
    </tr>
    <tr>
      <td>Social Implications</td>
      <td>08.03.2014</td>
      <td>@fat, @brat, @sausage</td>
    </tr>
    <tr>
      <td>Oxford</td>
      <td>Truth of fiction?</td>
      <td>21.04.2014</td>
      <td>@twitter, @larry, @barry</td>
    </tr>
  </tbody>
</table> -->