<div class="panel panel-default">
  <div class="panel-heading"><h4>Meetups</h4>
  </div>

  <div class="list-group">
    <% session[:current_cities].each do |city| %>
      <% @meetups2 = Meetup.where({city: city["id"]}).all.entries %>
      <a href="#" data-toggle="collapse" data-target=".meetup-details" class="list-group-item meetup_city">
        <%= city["name"] %>
        <span class="badge"><%= @meetups2.count %></span>
      </a>

      <div class="meetup-details collapse in list-group">

        <% @meetups2.each do |meetup| %>
          <div class="list-group-item">
          <a href="http://novelmates.dev/meetup/<%= meetup._id %>/for/<%= meetup.books[0] %>"><h5><%= meetup.name %></h5></a>
            <span class="pull-right people">
              <% meetup.user_ids.each do |id| %>
                <div class="profile-picture-wrapper" data-user-id="<%= id.to_s %>"></div>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
  <button type="button" class="new-meetup-btn btn btn-primary btn-lg btn-block">Add new meetup</button>
  <%= partial '/books/create_meetup' %>
</div>

<!-- <table class="table table-hover table-bordered">
  <thead>
    <tr class="success">
      <th>#</th>
      <th>Name</th>
      <th>Date</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">London</td>
      <td>Author discussion</td>
      <td>05.02.2014</td>
      <td>@mdo, @bla, @do</td>
    </tr>
    <tr>
      <td>Social Implications</td>
      <td>08.03.2014</td>
      <td>@fat, @brat, @sausage</td>
    </tr>
    <tr>
      <td>Oxford</td>
      <td>Truth of fiction?</td>
      <td>21.04.2014</td>
      <td>@twitter, @larry, @barry</td>
    </tr>
  </tbody>
</table> -->