<div id="book-search" class="row">
  <div class="city-search col-md-offset-1 col-md-3 col-sm-4">

    <div class="input-group"> <!--  has-success has-feedback -->
      <!-- <label class="control-label" for="inputSuccess4">Input with success</label> -->
      <span class="input-group-addon">City</span>
      <input type="text" class="form-control" id="city-input" placeholder="E.g. London">
      <!-- <span class="glyphicon glyphicon-ok form-control-feedback"></span> -->
    </div>

  </div>
  <div class="search-box col-md-7 col-sm-8">
    <div class="input-group"> 
      <span class="input-group-addon">Title</span>     
      <input type="text" id="book-input" class="form-control" placeholder="E.g. 50 Shades of Grey">
      <span id="spinner"></span>

<!--       <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span> -->
      
    </div><!-- /input-group -->
    <ul class="col-xs-12" id="books"></ul>
  </div><!-- /.col-lg-6 -->
   
</div>
<div id="wrapper" class="container-fluid">
  <% @books.each do |book| %>
    <div id="<%=book.get_url_title()%>" class="book-listing">

    	<div class="book-description col-xs-3">
    		<div class="cover-wrapper" style="width:auto;">
    			<img class="book-cover" src="<%= book.images[:large] %>">
    		</div>
    		<dl class="book-details">
    			<dt>Title</dt>
    			<dd><%= book.full_title %></dd>
    			<dt>Author</dt>
    			<dd><%= book.author %></dd>
    			<dt>Published</dt>
    			<dd><%= book.published_at %></dd>
    			<dt>Category</dt>
    			<dd>Science Fiction</dd>
    			<dt>ISBN13</dt>
    			<dd id="isbn"><%= book.isbn %></dd>
    		</dl>
    	</div>
      
      <div class="col-xs-5"><%= partial '/books/meetup_listing', locals: {book: book} %></div>
      <div class="col-xs-4"><%= partial '/books/interest_categories', object: book.interests %></div>


    	<span class="clearfix"></span>
      <%= tag :div, hidden: true, class: 'book-data', :data => {book: BookController.generate_search_results([book])} %>
    </div>
    <hr />
    </div>
  <% end %>
</div>
