<div id="book-search" class="row">
  <div class="city-search col-md-offset-1 col-md-3 col-sm-4">

    <div class="input-group"> <!--  has-success has-feedback -->
      <!-- <label class="control-label" for="inputSuccess4">Input with success</label> -->
      <span class="input-group-addon">City</span>
      <input type="text" class="form-control" id="city-input" placeholder="E.g. London">
      <!-- <span class="glyphicon glyphicon-ok form-control-feedback"></span> -->
    </div>

  </div>
  <div class="search-box col-md-7 col-sm-8">
    <div class="input-group"> 
      <span class="input-group-addon">Title</span>     
      <input type="text" id="book-input" class="form-control" placeholder="E.g. 50 Shades of Grey">
      <span id="spinner"></span>

<!--       <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span> -->
      
    </div><!-- /input-group -->
    <ul class="col-xs-12" id="books"></ul>
  </div><!-- /.col-lg-6 -->
   
</div>

<div id="wrapper" class="container-fluid">
	<!-- <ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li>
		<% session[:url_cities].each do |city| %>
			<a href="#" class="city-id-to-name" data-id="<%= city %>"></a>
		<% end %>
		</li>
		<li class="active"><%= @book.title %></li>
	</ol> -->

	<div class="book-description">
		<div class="cover-wrapper" style="width:auto;">
			<img class="book-cover" src="<%= @book.images[:large] %>">
		</div>
		<dl class="book-details">
			<dt>Title</dt>
			<dd><%= @book.full_title %></dd>
			<dt>Author</dt>
			<dd><%= @book.author %></dd>
			<dt>Published</dt>
			<dd><%= @book.published_at %></dd>
			<dt>Category</dt>
			<dd>Science Fiction</dd>
			<dt>ISBN13</dt>
			<dd id="isbn"><%= @book.isbn %></dd>
		</dl>
	</div>

	<div id="middle" class="">
    <%= partial '/books/meetup_listing' %>
    <%= partial '/books/interest_categories' %>
    
		<p><%= @book.editorial_review.html_safe %></p>
	</div>

	<span class="clearfix" />
</div>