<div id="wrapper" class="container">
  <div class="col-sm-offset-2 col-sm-8">
    <h3>Edit your details</h3>
    <form action="/meetup/edit" method="post" class="form-horizontal" role="form">

      <div class="form-group">
        <label for="firstname" class="col-sm-3 control-label">First name</label>
        <div class="col-sm-9">
          <input name="firstname" type="text" class="form-control" id="name" value="<%= @user.firstname %>">
        </div>
      </div>

      <div class="form-group">
        <label for="lastname" class="col-sm-3 control-label">Last name</label>
        <div class="col-sm-9">
          <input name="lastname" type="text" class="form-control" id="name" value="<%= @user.lastname %>">
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input name="email" type="text" class="form-control" id="email" value="<%= @user.email %>">
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input name="password" type="text" class="form-control" id="password" value="*********">
        </div>
      </div>

      <div class="form-group">
        <label for="location" class="col-sm-3 control-label">Location</label>
        <div class="col-sm-9">
          <input name="location" type="text" class="form-control" id="location" value="<%= @user.location %>">
        </div>
      </div>

      <div class="form-group">
        <label for="notifications" class="col-sm-3 control-label">Notifications</label>
        <div class="col-sm-9">
          <label>
            <input type="checkbox" value="true" <%= @user.weekly_digest == true ? 'checked' : '' %>>
            Weekly digest&mdash;keep up yourself up-to-date
          </label>
<!--           <label>
            <input type="checkbox" value="">
            Monkey one is this and that&mdash;be sure to include why it's great
          </label>
          <label>
            <input type="checkbox" value="">
            Giraffe one is this and that&mdash;be sure to include why it's great
          </label> -->

        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-3 btn btn-default"><%= @user.FBTokens.nil? ? 'Link to Facebook' : 'Unlink with Facebook' %></div>
      </div>
      
      <div class="form-group">
        <button type="submit" class="col-sm-offset-3 btn btn-default">Save</button>
      </div>

    </form>

  </div>
</div>
