<div id="wrapper" class="container-fluid my-meetups">
<div class="col-sm-3">
  <h3><%= @user.firstname+' '+@user.lastname %></h3>
  <div class="profile-picture-wrapper" data-user-id="<%= @user._id %>"></div>
  <hr />

  <table class="">
    <tbody>
      <tr>
        <td>Joined</td>
        <td><%= @user.created_at.to_date.strftime('%d/%m/%Y') %></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%= @user.location %></td>
      </tr>
      <tr>
        <td>Meetups Attended</td>
        <td><%= @meetups.count %></td>
      </tr>
      <tr>
        <td>Meetups Created</td>
        <td><%= @meetups_created.count %></td>
      </tr>
    </tbody>
  </table>
  
  <div id="posts">
    <div style="height:50px;background:inherit;" class="box">
      <div class="loader10"></div>
    </div>
  </div>
  <script type="text/javascript" class="juvia">
  (function() {
      var options = {
          author_id    : '<%= current_user._id if signed_in? %>',
          author_name  : "<%= (current_user.firstname+' '+current_user.lastname) if signed_in? %>",
          container    : '#posts',
          site_key     : 'oqy5ycn91ld66432ekxha7u5h10mi8o',
          topic_key    : "<%= @user._id %>",
          topic_url    : location.href,
          topic_title  : document.title || location.href,
          include_base : !window.Juvia,
          include_css  : !window.Juvia,
          comment_order: 'latest-first'
      };

      function makeQueryString(options) {
          var key, params = [];
          for (key in options) {
              params.push(
                  encodeURIComponent(key) +
                  '=' +
                  encodeURIComponent(options[key]));
          }
          return params.join('&');
      }

      function makeApiUrl(options) {
          // Makes sure that each call generates a unique URL, otherwise
          // the browser may not actually perform the request.
          if (!('_juviaRequestCounter' in window)) {
              window._juviaRequestCounter = 0;
          }

          var result =
              'http://disnovel.herokuapp.com/api/show_topic.js' +
              '?_c=' + window._juviaRequestCounter +
              '&' + makeQueryString(options);
          window._juviaRequestCounter++;
          return result;
      }

      var s       = document.createElement('script');
      s.async     = true;
      s.type      = 'text/javascript';
      s.className = 'juvia';
      s.src       = makeApiUrl(options);
      (document.getElementsByTagName('head')[0] ||
       document.getElementsByTagName('body')[0]).appendChild(s);
  })();
  </script>
</div>
<div class="col-sm-9">
    <% if @meetups_created.count > 0 %>
      <div class="list-group col-md-6">
        <div class="list-group-item list-group-item-info">
          <h4>Created</h4>
        </div>

        <%
        @books = BookController.lookup_books(@meetups_created.map { |m| m.books })
        @meetups_created.each_with_index do |meetup, i|
          @book = @books.select { |b| b.isbn =~  /.{0,3}#{meetup.books}.{0,1}/ }[0]
          @notify = meetup.notify_ids.include? current_user._id
        %>
            <div class="list-group-item" style="background:rgb(250, 250, 250) !important;">
              <table>
                <tr>
                  <td>
                    <img class="book-cover" src="<%= @book.nil? ? "/assets/book-placeholder.png" : @book.images[:medium] %>" >
                  </td>
                  <td>
                    <div class="meetup-header">

                      <a href="/meetup/<%= meetup._id %>/for/<%= meetup.books %>"><h3><%= meetup.name %></h3></a>

                      <% if signed_in? && current_user._id == @user._id %>
                        <div class="btn-group">
                          <button type="button" data-id="<%= meetup._id %>" class="notify btn btn-default <%= 'active' if @notify %>"><span style="color: rgb(167, 162, 44);" class="glyphicon glyphicon-star-empty"></span>  Notify</button>
                          <button type="button" data-id="<%= meetup._id %>" class="not-notify btn btn-default <%= 'active' if !@notify %>">No Notifications</button>
                        </div>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </table>
              
            </div>

        <% end %>
      </div>
    <% end %>

    <% if @meetups.count > 0 %>
      <div class="list-group col-md-6">
        <div class="list-group-item list-group-item-info">
          <h4>Attending</h4>
        </div>
        <%
          @books = BookController.lookup_books(@meetups.map{ |m| m.books }.uniq)
          @meetups.each_with_index do |meetup, i|
            @book = @books.select { |b| b.isbn =~  /.{0,3}#{meetup.books}.{0,1}/ }[0]
            @notify = meetup.notify_ids.include? current_user._id unless !signed_in?
        %>

          <div class="list-group-item" style="background:rgb(250, 250, 250) !important;">
            <table>
              <tr>
                <td>
                  <img class="book-cover" src="<%= @book.nil? ? "/assets/book-placeholder.png" : @book.images[:medium] %>" >
                </td>
                <td>
                  <div class="meetup-header">

                    <a href="/meetup/<%= meetup._id %>/for/<%= meetup.books %>"><h3><%= meetup.name %></h3></a>

                    <% if signed_in? && current_user._id == @user._id  %>
                      <div class="btn-group">
                        <button type="button" data-id="<%= meetup._id %>" class="notify btn btn-default <%= 'active' if @notify %>"><span style="color: rgb(167, 162, 44);" class="glyphicon glyphicon-star-empty"></span>  Notify</button>
                        <button type="button" data-id="<%= meetup._id %>" class="not-notify btn btn-default <%= 'active' if !@notify %>">No Notifications</button>
                      </div>
                    <% end %>
                  </div>
                </td>
              </tr>
            </table>
            
          </div>

        <% end %>
      </div>
    <% end %>
  </div>
</div>