<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Tallinn</a></li>
	<li class="active"><%= @book.title %></li>
</ol>

<div class="book-description">
	<div class="cover-wrapper" style="width:auto;">
		<img class="book-cover" src="<%= @book.images[:large] %>">
	</div>
	<dl class="book-details">
		<dt>Title</dt>
		<dd><%= @book.full_title %></dd>
		<dt>Author</dt>
		<dd><%= @book.author %></dd>
		<dt>Published</dt>
		<dd><%= @book.published_at %></dd>
		<dt>Category</dt>
		<dd>Science Fiction</dd>
		<dt>ISBN13</dt>
		<dd><%= @book.isbn %></dd>
	</dl>
</div>
	
<aside id="right" class="">
	<div id="locations">
		<h4>Locations</h4>
		<div id="selected-locations">
			<a class="add-city selected btn" href="#">
				<i class="icon-ok"></i>
				<p>Tallinn</p>
				<i class="icon-remove"></i>
			</a>
			<a class="add-city selected btn" href="#">
				<i class="icon-ok"></i>
				<p>Tartu</p>
			</a>
		</div>
		<hr>
		<div id="suggested-locations">
			<a class="add-city suggested btn" href="#">
				<i class="icon-plus"></i>
				<p>Rakvere</p>
			</a>
			<a class="add-city suggested btn" href="#">
				<i class="icon-plus"></i>
				<p>Narva</p>
			</a>
			<a class="add-city suggested btn" href="#">
				<i class="icon-plus"></i>
				<p>Viljandi</p>
			</a>
			<form id="new-location">
<div class="input-group" style="width:150px;">
  <div class="input-group-btn">
    <button type="button" class="add-on btn">
      <i class="icon-plus"></i>
    </button>
  </div><!-- /btn-group -->
  <input type="text" class="form-control" placeholder="Location">
</div><!-- /input-group -->
			</form>
		</div>
	</div>
	<div id="suggested-titles">
		<h4>Suggested Titles</h4>
		<ul>
			<li><div class="book"><a href="#suggestion"><img src=""></img><p>Syrup</p></a></div></li>
		</ul>
	</div>
	<div id="advert">
		<h4>Advert</h4>
	</div>
</aside>

<div id="middle" class="">
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          London Meetups
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          Oxford Meetups
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          Brighton Meetups
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>
	<p><%= @book.editorial_review %></p>
</div>

<span class="clearfix" />