<!DOCTYPE html>
<%= partial '/layouts/head' %>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="/">Novelmates</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= if env['warden'].user.nil?
              partial '/layouts/sign_in'.to_sym 
            else
              partial '/layouts/signed_in'.to_sym
            end 
        %>

      </ul>
    </div>
  </div>
</nav>
<% p flash.count; flash.each do |name, msg| %>
  <% p name; p msg; if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <div id="flash_<%= name %>"><%= msg %></div>
    </div>
  <% end %>
<% end %>

<%= yield %>

<footer>
  <span>© Novelmates 2014</span>
</footer>
<input type="hidden" id="city" value="<%= session['location'] %>" />
<div id="fb-root"></div>

</body>

	<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</html>